:root {
    --primary: #5f9ea0;
}

body {
    margin: 0;

}

#clock-ui {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: min(100vw, 100vh) 1fr;
    grid-template-rows: auto 1fr;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.87);
}


#box-clock-time {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    /*background-color: aquamarine;*/

    box-sizing: border-box;
    padding: 20px;
}

#box-clock-time-helper{
    height: 100%;
    position: relative;
}

#box-logo {
    grid-row: 1;
    grid-column: 2;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    padding: 10px;
    margin: 1rem 1rem 0 1rem;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-bottom: none;
    border-radius: 30px 30px 0 0;

    display: flex;
    align-items: center;
}

#logo-rebuilt{
    background-color: rgba(255, 255, 255, 0.87);
    padding-left: 16px;
    padding-right: 21px;
    color: black;
    font-size: 5rem;
    margin-left: 3rem;
    border-radius: 30px;
}

#logo-credit {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.87);
    margin: 1rem;
}

#box-buttons {
    grid-row: 2;
    grid-column: 2;
    border: 2px solid var(--primary);
    padding: 10px;
    border-radius: 0 0 30px 30px;
    margin: 0 1rem 1rem 1rem;
}

#clock-face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

#clock-time-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    top: 50%;

    border: 2px solid var(--primary);
    padding: 20px;
    border-radius: 30px 30px 30px 30px;

    display: grid;
    place-items: center;
    /*grid-template-columns: auto 1fr 1fr;*/
    grid-auto-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    z-index: 2;
}

.time-label {
    font-family: sans-serif;
    color: var(--primary);
    margin-bottom: 8px;
    font-weight: bold;
}

.numerical-time {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.87);
    font-size: 2rem;
}

.numerical-time input {
    background-color : #121212;
    color: rgba(255, 255, 255, 0.87);
    border-bottom: 3px solid var(--primary);
    text-align: center;
}

#time-toggle {
    grid-row: 1 / span 2;
    grid-column: 1;
}

#time-toggle-button {
    background-color: var(--primary);
    color: #fafafa;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
}

#time-adder-buttons {
    grid-row: 1 / span 2;
    grid-column: 3;
    margin: 0px 0px 0px 12px;
}

.time-adder{
    background-color: var(--primary);
    color: #fafafa;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
}

.big {
    font-size: 1.8rem;
    font-family: sans-serif;
    margin: 24px 0 18px 10px;
}

.animation-box {
    display: block;
    width: 95%;
    text-align: start;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding: 1.8rem 0.5rem 1.8rem 1.5rem;
    border: 1px solid var(--primary);
    border-left: 11px solid var(--primary);
    border-radius: 15px 15px 15px 15px ;
    margin: 10px;
    font-weight: normal;
    background-color: transparent;
    color: #fafafa;
}

.animation-box:hover {
    background-color: rgba(255,255,255,0.1);
}

#animation-box-template {
    display: none;
}

.filament {
    transition: stroke-width 0.3s;
}

.status-box {
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: 2px solid #fafafa;
}

.status-box.active {
    background-color: forestgreen;
}

.status-box.inactive{
    background-color: darkred;
}

.status-title {
    font-size: 1.4rem;
    font-weight: bold;
}

#animation-selector{
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}
